# Build results
bin/
obj/
out/

# Visual Studio
.vs/
Visual Studio 2022/
Visual Studio 2022Templates/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log
*.tlog

# NuGet
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets